<?xml version="1.0"?>
<config>
	  <tabs>
		<wtc translate="label" module="themedesigns">
            <label>Web Technology Codes</label>
            <sort_order>0</sort_order>
        </wtc>
	  </tabs>
	  <sections>
		<themedesign  translate="label" module="themedesigns">                    
		<label>Theme Design Settings</label>
		<tab>wtc</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <sp translate="label"> 
					  <label>Select Package</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <pn translate="label">
                            <label>Current Package Name</label>
                            <frontend_type>select</frontend_type>
							<onchange>showme()</onchange>
                            <source_model>themedesigns/system_config_source_dropdown_packages</source_model>
							<frontend_model>themedesigns/adminhtml_system_config_form_field_options</frontend_model>
							<backend_model>themedesigns/system_config_backend_serialized</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Select theme package</comment>
                          </pn>
					   </fields>
					   </sp>
				      <st translate="label"> 
					  <label>Select Theme</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <templates translate="label">
                            <label>Templates</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themedesigns/system_config_source_dropdown_themes</source_model>
							<backend_model>themedesigns/system_config_backend_serialized</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
                          </templates>
                          <skin translate="label">
                            <label>Skin (Images / CSS)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themedesigns/system_config_source_dropdown_skin</source_model>
							<backend_model>themedesigns/system_config_backend_serialized</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </skin>
                          <layout translate="label">
                            <label>Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themedesigns/system_config_source_dropdown_layout</source_model>
							<backend_model>themedesigns/system_config_backend_serialized</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </layout>
                          <default translate="label">
                            <label>Default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themedesigns/system_config_source_dropdown_default</source_model>
							<backend_model>themedesigns/system_config_backend_serialized</backend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </default>
					   </fields>
					   </st>
					</groups>
		</themedesign>
	  </sections>
</config>

